# Application
#web/app/plugins/*
!web/app/plugins/.gitkeep
#web/app/mu-plugins/*/
#web/app/upgrade
web/app/uploads/*
#!web/app/uploads/.gitkeep
web/app/themes/castadiva-theme/node_modules

# WordPress
#web/wp
web/.htaccess
Castadiva

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
.env.example

# Vendor (e.g. Composer)
#vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant


.editorconfig
.env
.env.example
.git/*
.github/*
.gitignore
.travis.yml

web/app/themes/castadiva-theme/**/**/.git/*
web/app/themes/castadiva-theme/**/**/.gitignore
web/app/themes/castadiva-theme/**/**/.travis.yml
web/app/themes/castadiva-theme/**/**/composer.json
web/app/themes/castadiva-theme/**/**/composer.lock
web/app/themes/castadiva-theme/**/**/README.md
web/app/themes/castadiva-theme/node_modules
web/app/themes/castadiva-theme/.sass-cache
web/app/themes/castadiva-theme/source

.DS_Store

web/app/.DS_Store

web/.DS_Store

web/app/.DS_Store

web/app/plugins/.DS_Store

web/app/plugins/shortcodes-ultimate/.DS_Store

web/app/plugins/soil/.DS_Store

web/app/themes/castadiva-theme/lib/Instaphp/.DS_Store
